@use "mixins" as m;

#toggle {
  display: none;
}
/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 3em;
  height: 45px;
  z-index: 5;
  cursor: pointer;
  @include m.desktop {
    display: none;
  }
  div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  }
}
/**
Animations
**/
#toggle:checked + .hamburger .hamburger__top-bun {
  transform: rotate(135deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .hamburger__bottom-bun {
  opacity: 0;
  transform: rotate(-135deg);
}
#toggle:checked + .hamburger .hamburger__meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}