@use "colors" as c;
@use "mixins" as m;
@use "hamburger";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    body {
        background-image: url(/assets/negative-space-black-forest-dawn.jpg);
        background-size: cover;
        background-position: center;
        main {
            .welcome {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            font-size: x-large;
            }
            .team {
                background-color: white;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                width: 100%;
                @include m.desktop {
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                    &__profile {
                        @include m.desktop {
                        width: 49%;
                        }
                        &__img {
                                width: 60%;
                                border-radius: 50%;
                        }
                        &__quote {
                            background-color: lightgray;
                            font-size: large;
                            margin: 75px;
                            padding: 50px;
                            border-radius: 5px;
                        }
                    }
            }
        }
        footer {
            height: 500px;
            position: static;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .contact {
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: space-evenly;
                article {
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    font-size: x-large;
                    i {
                        padding-right: 1em;
                    }
                }
            }
        }
    }
}