@use "colors" as c;
@use "mixins" as m;
@use "hamburger";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    body {
        background-image: url(/assets/negative-space-black-forest-dawn.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        header {
            .nav {
              position: absolute;
              width: 100%;
              height: 30%;
              background-color: rgba(255, 255, 255, 0.2);
              top: -100%; left: 0; right: 0; bottom: 0;
              transition: all 0.3s ease-in-out;
              @include m.desktop {
                position:absolute;
                height: 75px;
                width: 100%;
                top: 0;
              }
                &__wrapper {
                  height: 100%;
                  width: 100%;
                  @include m.desktop {
                    width: 40%;
                  }
                    &__items {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    color: white;
                    transition: color 0.2s ease-in-out;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    @include m.desktop {
                      display: flex;
                      justify-content: flex-end;
                      margin-top: 25px;
                      margin-bottom: 25px;
                      right: 50px;
                      gap: 20px;
                    }
                      li a {
                      text-decoration: none;
                      font-size: x-large;
                      color: white;
                      transition: color 0.2s ease-in-out;
                      margin: 15px;
                      @include m.desktop {
                        &:hover {
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
            }
        main {
            .welcome {
            height: 100vh;
            font-size: x-large;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__text {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 50px;
                color: white;
            }
            }
            .team {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                h2 {
                    font-size: xx-large;
                    flex-basis: 100%;
                }
                @include m.desktop {
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                    &__profile {
                        @include m.desktop {
                        width: 50%;
                        }
                        &__img {
                                width: 60%;
                                border-radius: 50%;
                                box-shadow: 5px 5px 40px 15px rgba(153,153,153,0.51);
                        }
                        &__quote {
                            background-color: lightgray;
                            font-size: large;
                            margin: 75px;
                            padding: 50px;
                            border-radius: 5px;
                        }
                    }
            }
        }
        footer {
            height: 500px;
            position: static;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .contact {
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: space-evenly;
                article {
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    font-size: x-large;
                    i {
                        padding-right: 1em;
                    }
                }
            }
        }
    }
}

#link {
    &--about {
        color: white;
    }

    &--contact {
        color: black;
        position: static;
        padding: 50px;
    }
}
